DataIngestion.clean.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "id": "283ed22e-4540-4504-8348-3fc6b2e7bed9",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2496,
        736
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "id": "1c694471-aa49-4eed-ac07-379f8901e55d",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2192,
        1296
      ]
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "id": "fd6fd568-e5df-4d5c-bcf5-b944bf7338f0",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2384,
        1296
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8481a0d8-c14e-404f-8b91-ca3655b30bfe",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2576,
        1296
      ]
    },
    {
      "parameters": {
        "jsCode": "const pages = $input.first().json.pages || [];\nconst loopItem = $('Loop Over Items').item.json;\nconst fileName = loopItem.name || 'sin_nombre';\nconst fileId = loopItem.id || '';\n\nconsole.log('Procesando:', fileName, '- páginas:', pages.length);\n\nif (pages.length === 0) {\n  return [{ json: { text: 'sin contenido', metadata: { source: fileName, file_id: fileId, page: 0, chunk_index: 0 } } }];\n}\n\nconst chunks = [];\nfor (const page of pages) {\n  const text = (page.text || '').trim();\n  if (text.length < 50) continue;\n  chunks.push({\n    json: {\n      text: text,\n      metadata: {\n        source: fileName,\n        file_id: fileId,\n        page: page.page || 0,\n        chunk_index: chunks.length\n      }\n    }\n  });\n}\n\nif (chunks.length === 0) {\n  return [{ json: { text: 'sin contenido', metadata: { source: fileName, file_id: fileId, page: 0, chunk_index: 0 } } }];\n}\n\nreturn chunks;"
      },
      "id": "4b478d4c-7df3-4efe-ba44-df6d2c5dcf1a",
      "name": "Chunk Text (con metadata)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        1312
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "160c2a81-d7d1-46c6-bea7-bf7bfa86a5ad",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        4448,
        1696
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log del resultado para debugging\nconst items = $input.all();\nconst fileName = $('Google Drive - Download').first().json.name || 'desconocido';\n\nconsole.log(`✅ PDF procesado: ${fileName} - ${items.length} chunks insertados`);\n\nreturn [{\n  json: {\n    status: 'ok',\n    file: fileName,\n    chunks_inserted: items.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "dc85cd8d-b6e7-45be-97ce-3bc47addb1cc",
      "name": "Log resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        1312
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "8c0a0c2e-460b-4852-be94-aa4c3fcd8736",
      "name": "Wait 2s (rate limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5200,
        1312
      ],
      "webhookId": "wait-between-webhook"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'YOUR_DRIVE_FOLDER_ID' in parents and trashed=false"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType)"
            },
            {
              "name": "pageSize",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "68e50701-866c-4e56-8f3b-c0bef8a3c3a8",
      "name": "HTTP Request - List Files1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        1296
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "0635e643-7cb5-485c-88f9-8c6619bcec6a",
      "name": "Google Drive - Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2816,
        1312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "11d7e46f-afeb-445d-9069-029bc921930d",
      "name": "LlamaParse - Upload PDF2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        1312
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.cloud.llamaindex.ai/api/parsing/job/' + $json.id + '/result/json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5cb57366-3625-406a-a718-64d9de477cd1",
      "name": "LlamaParse - Get Markdown2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3808,
        1312
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents",
        "options": {}
      },
      "id": "bafc1f16-4f2b-4b36-88d7-08feef6b5bc2",
      "name": "Supabase Vector Store - Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        4528,
        1312
      ]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Loop Over Items').item.json.name }}"
              },
              {
                "name": "page",
                "value": "={{ $('Chunk Text (con metadata)').item.json.metadata.page }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        4704,
        1680
      ],
      "id": "ad57f123-3f4b-4aa3-9af1-12a488d54612",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/llamaparse_jobs?status=eq.pending&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REDACTED"
            },
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            }
          ]
        },
        "options": {}
      },
      "id": "3d77a956-cf5d-43cc-a93c-09007d5e8e62",
      "name": "Obtener Jobs Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        736
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cd595528-35b7-4988-92c6-ba61182a98df",
      "name": "Loop Over Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3040,
        736
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.cloud.llamaindex.ai/api/parsing/job/' + $json.job_id + '/result/json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "35335fb1-3db9-4be2-b059-354460f5d0fc",
      "name": "LlamaParse - Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const pages = $input.first().json.pages || [];\nconst jobData = $('Loop Over Jobs').item.json;\nconst fileName = jobData.file_name || 'sin_nombre';\nconst fileId = jobData.file_id || '';\n\nconsole.log('Procesando:', fileName, '- páginas:', pages.length);\n\nif (pages.length === 0) {\n  return [{ json: { text: 'sin contenido', metadata: { source: fileName, file_id: fileId, page: 0, chunk_index: 0 } } }];\n}\n\nconst chunks = [];\nfor (const page of pages) {\n  const text = (page.text || '').trim();\n  if (text.length < 50) continue;\n  chunks.push({\n    json: {\n      text: text,\n      metadata: {\n        source: fileName,\n        file_id: fileId,\n        page: page.page || 0,\n        chunk_index: chunks.length\n      }\n    }\n  });\n}\n\nif (chunks.length === 0) {\n  return [{ json: { text: 'sin contenido', metadata: { source: fileName, file_id: fileId, page: 0, chunk_index: 0 } } }];\n}\n\nreturn chunks;"
      },
      "id": "856e0517-e910-4840-be88-91c2cccc33e4",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        752
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://YOUR_PROJECT.supabase.co/rest/v1/llamaparse_jobs?job_id=eq.' + $('Loop Over Jobs').item.json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REDACTED"
            },
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"done\"}",
        "options": {}
      },
      "id": "0e57d943-67c4-4a9c-a50b-437751473e6f",
      "name": "Marcar Job como Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4240,
        752
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents",
        "options": {}
      },
      "id": "5a454bde-d96c-41da-8777-c8a10871def1",
      "name": "Supabase Vector Store - Insert1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3856,
        752
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "220a8733-3226-4720-a463-c2dba942ab0c",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        3856,
        976
      ]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Loop Over Jobs').item.json.file_name }}"
              },
              {
                "name": "page",
                "value": "={{ $('Chunk Text').item.json.metadata.page }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3952,
        976
      ],
      "id": "8667141f-1c3b-48a5-a243-f64bf8530700",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4448,
        752
      ],
      "id": "f3d6dfd6-dd20-4dc7-8103-424da200dfb0",
      "name": "Wait",
      "webhookId": "1a69b914-3d61-45cd-b039-33e27a358ef4"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Obtener Jobs Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Drive - Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text (con metadata)": {
      "main": [
        [
          {
            "node": "Supabase Vector Store - Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store - Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Log resultado": {
      "main": [
        [
          {
            "node": "Wait 2s (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s (rate limit)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - List Files1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download": {
      "main": [
        [
          {
            "node": "LlamaParse - Upload PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlamaParse - Upload PDF2": {
      "main": [
        [
          {
            "node": "LlamaParse - Get Markdown2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlamaParse - Get Markdown2": {
      "main": [
        [
          {
            "node": "Chunk Text (con metadata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store - Insert": {
      "main": [
        [
          {
            "node": "Log resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store - Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Jobs Pendientes": {
      "main": [
        [
          {
            "node": "Loop Over Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Jobs": {
      "main": [
        [],
        [
          {
            "node": "LlamaParse - Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlamaParse - Get Result": {
      "main": [
        [
          {
            "node": "Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store - Insert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Job como Done": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store - Insert1": {
      "main": [
        [
          {
            "node": "Marcar Job como Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store - Insert1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store - Insert1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a2fedcf-d04f-4453-b93e-55f3350a71c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED"
  },
  "id": "tmdskAz7WXsoOg1n",
  "tags": []
}